* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("./images/astronaut.gif"), url("./images/astronaut.gif");
  background-size: 100%, 100%; /* First image 50% width and full height, same for second */
  background-position: left -75vh top 0px, right -75vh top 0px; /* First image stays left; adjust the second image */
  background-repeat: no-repeat;
  line-height: 1.5;
  height: 100%;
}

#root {
  max-width: 740px;
  margin: 0 auto;
}

.working {
  background-image: url("./images/astronaut.gif"), url("./images/astronaut.gif");
  background-size: 100%, 100%; /* First image 50% width and full height, same for second */
  background-position: left -75vh top 0px, right -75vh top 0px; /* First image stays left; adjust the second image */
  background-repeat: no-repeat;
  line-height: 1.5;
  height: 100%;
}

.hidden {
  display: none;
}

.pomodoro {
  border: #7f448e 4px solid;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #9d76a7;
}

.working .centralized-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(246, 149, 255, 0.623);
  backdrop-filter: blur(15px);
  border-radius: 5px; /* this doesn't work */
  border-width: 4px;
  border-style: solid;
  padding: 5px;
  transition: background-color 500ms ease-in-out;
  border-image: linear-gradient(to right, #9d76a7 0%, #4a125a 100%) 1;
}

.centralized-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(81, 0, 88, 0.623);
  backdrop-filter: blur(15px);
  border-radius: 5px; /* this doesn't work */
  border-width: 4px;
  border-style: solid;
  padding: 5px;
  transition: background-color 500ms ease-in-out;
  border-image: linear-gradient(to right, #9d76a7 0%, #4a125a 100%) 1;
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 96px;
}

.button {
  background: none;
  border: #7f448e 3px solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  color: #9d76a7;
  cursor: pointer;
}

.button:hover {
  background: #7f448e;
  transition: background-color 200ms ease-in-out;
  color: #4a125a;
  cursor: pointer;
}

.details {
  margin-top: 15px;
  color: #9d76a7;
  border: 3px solid #9d76a7;
  border-radius: 5px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.working .pomodoro button {
  color: #5c236b;
  border: #5c236b 2px solid;
}

.working .pomodoro button:hover {
  color: #9d76a7;
  background: #5c236b;
  border: #5c236b 2px solid;
}

.working .pomodoro {
  border: #5c236b 4px solid;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #5c236b;
}

.working .details {
  color: #5c236b;
  border: 3px solid #5c236b;
  border-radius: 5px;
  padding: 10px;
}

.details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
}

.checkbox-custom {
  appearance: none;
  border-radius: 4px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-color: none; /* Set your custom unselected background color */
  border: 2px solid #9d76a7; /* Set border color */
  cursor: pointer;
}

.checkbox-custom:checked {
  background-color: #9d76a7; /* Set your custom selected background color */
}

.checkbox-custom:checked::after {
  content: "✔"; /* Unicode for a checkmark */
  color: #5c236b;
  font-size: 12px;
  position: relative;
  top: -20%;
  left: 10%;
}

.working .checkbox-custom {
  appearance: none;
  border-radius: 4px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-color: none; /* Set your custom unselected background color */
  border: 2px solid #5c236b; /* Set border color */
  cursor: pointer;
}

.working .checkbox-custom:checked::after {
  content: "✔"; /* Unicode for a checkmark */
  color: #9d76a7;
  font-size: 12px;
  position: relative;
  top: -20%;
  left: 10%;
}

.working .checkbox-custom:checked {
  background-color: #5c236b; /* Set your custom selected background color */
}

.button-add-details {
  transition: background-color 200ms ease-in-out;
  margin-right: 10px;
  width: 40px;
  font-size: 15px;
  padding: 2px 4px;
  background: none;
  border: #7f448e 2px solid;
  border-radius: 5px;
  color: #9d76a7;
  cursor: pointer;
}

.button-add-details:hover {
  background: #7f448e;
  color: #4a125a;
}

.working .button-add-details {
  border: #5c236b 2px solid;
  color: #5c236b;
}
.working .button-add-details:hover {
  background: #5c236b;
  color: #9d76a7;
}

.input-add-task {
  background: none;
  color: #9d76a7;
  border: 0;
  border-bottom: 2px solid #9d76a7;
}

.input-add-task::placeholder {
  color: #9d76a7;
}

.working .input-add-task::placeholder {
  color: #5c236b;
}

.working .input-add-task {
  color: #5c236b;
  border-bottom: 2px solid #5c236b;
}

.working .input-time {
  color: #5c236b;
  border-bottom: 2px solid #5c236b;
}

.input-time {
  background: none;
  color: #9d76a7;
  border: 0;
  border-bottom: 2px solid #9d76a7;
}

.input-time::placeholder {
  color: #9d76a7;
}

.working .input-time::placeholder {
  color: #5c236b;
}

.history-container {
  max-height: 150px;
  min-width: 170px;
  overflow: auto;
}

.history-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.history-container::-webkit-scrollbar-track {
  background: none; /* Background of the scrollbar track */
}

.history-container::-webkit-scrollbar-thumb {
  background-color: #9d76a7; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the handle */
}

.history-container::-webkit-scrollbar-thumb:hover {
  background: #7f448e; /* Darker color on hover */
}

.working .history-container::-webkit-scrollbar-thumb {
  background-color: #5c236b; /* Color of the scrollbar handle */
}

.working .history-container::-webkit-scrollbar-thumb:hover {
  background: #4a125a; /* Darker color on hover */
}
